<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Forgotpassword</title>
</head>
<body>
    <h1>Hola compañero!</h1>
    <h3>Formulario de Cambio de Contraseña</h3>
    <form id="passwordForm">
        <label for="newEmail">Ingresa tu Email:</label>
        <input type="text" id="email" required>
        <label for="newPassword">Nueva Contraseña:</label>
        <input type="password" id="newPassword" name="newPassword" required>
        <label for="newPassword">Confirmar Contraseña:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
        <br><br>
        <input type="submit" value="Cambiar Contraseña">
    </form>

    <script>
        document.getElementById("passwordForm").addEventListener("submit", function(event) {
            event.preventDefault();
            let emailUser = document.getElementById("email").value;
            let newPassword = document.getElementById("newPassword").value;
            let confirmPassword = document.getElementById("confirmPassword").value;
            const currentUrl = new URL(window.location.href);
            const token = currentUrl.searchParams.get('token');

            fetch("http://localhost:8080/api/session/changeForgotYourPassword", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({email:emailUser, newPassword: newPassword, confirmPassword: confirmPassword, params: token })
            })
            .then(function(response) {
                if (response.ok) {
                    alert("Contraseña cambiada exitosamente.");
                } else {
                    alert("Error al cambiar la contraseña.");
                }
            })
            .catch(function(error) {
                console.log(error);
                alert("Ha ocurrido un error en la solicitud.");
            });
        });
    </script>
</body>
</html>