<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Hola, {{userEmail}}</p>
    <p>Tu cambio de contraseña lo puedes hacer accediendo desde aqui <a href={{urlConfirmationToken}} target="_blank" rel="noopener noreferrer">Recupera tu contraseña</a></p>
</body>
</html>